@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
  background-color: #f0f0f0;
  font-family: "Roboto", sans-serif;
  background-image: url("/anton-maksimov.jpg");
  background-size: cover;
}

.container-wrap {
  text-align: center;
}

.container {
  text-align: center;
  margin-top: 50px;
  background-color: rgba(226, 226, 226, 0.5);
  backdrop-filter: blur(10px);
  padding: 20px;
  display: inline-block;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

h1 {
  color: #151515;
  font-weight: 600;
}

.timer {
  font-size: 120px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #368a39;
}

.tabs button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tabs button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.tabs button:disabled:hover {
  background-color: #f0f0f0;
}
.tabs button:hover {
  background-color: #ddd;
}

.controls button {
  margin: 20px 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  background-color: #368a39;;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
}

.controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.5;
}

.controls button:disabled:hover {
  background-color: #ccc;
}

.controls button:hover {
  background-color: #45a049;
}
.music-control {
  position: absolute;
  top: 10px;
  right: 10px;
}

#music-icon {
font-size: 40px;
  cursor: pointer;
  padding: 10px;
}